<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenming.weiswift"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".common.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/WeiBoHolo"
        android:windowSoftInputMode="adjustResize">

        <activity
            android:name=".welcome.WelcomeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".unlogin.activity.UnLoginActivity" />

        <activity android:name=".login.activity.MainActivity" />

        <activity android:name=".login.fragment.profile.setting.SettingActivity" />


        <activity android:name=".login.fragment.home.imagedetaillist.ImageDetailsActivity" />

        <activity android:name=".login.fragment.home.weiboitemdetail.activity.OriginPicTextCommentActivity" />

        <activity android:name=".login.fragment.home.weiboitemdetail.activity.RetweetPicTextCommentActivity" />

        <activity android:name=".login.fragment.message.mention.MentionActivity" />

        <activity android:name=".login.fragment.message.comment.CommentActivity" />

        <activity android:name=".login.fragment.profile.myweibo.MyWeiBoActivity" />

        <activity android:name=".login.fragment.discovery.popularweibo.PopularWeiBoActivity" />

        <activity android:name=".login.fragment.profile.followers.FollowerActivity" />

        <activity android:name=".login.fragment.profile.friends.FriendsActivity" />

        <activity android:name=".login.fragment.home.userdetail.UserActivity" />

        <activity android:name=".login.fragment.post.PostActivity" />

        <activity android:name=".login.fragment.post.idea.IdeaActivity" />


        <activity android:name=".login.fragment.post.picselect.activity.AlbumActivity" />

        <service android:name=".login.fragment.post.PostService" />

        <!-- 登录web界面-->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation" />

        <!-- 手机短信注册页面 -->
        <activity
            android:name="com.sina.weibo.sdk.register.mobile.MobileRegisterActivity"
            android:configChanges="keyboardHidden|orientation" />

        <!-- 注册选择国家页面 -->
        <activity
            android:name="com.sina.weibo.sdk.register.mobile.SelectCountryActivity"
            android:configChanges="keyboardHidden|orientation" />

        <activity android:name=".unlogin.activity.WebViewActivity" />
    </application>

</manifest>