<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenming.weiswift"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/ToolbarTheme">

        </activity>

        <activity
            android:name=".fragment.profile.setting.SettingActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 手机短信注册页面 -->
        <activity
            android:name="com.sina.weibo.sdk.register.mobile.MobileRegisterActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <!-- 注册选择国家页面 -->
        <activity
            android:name="com.sina.weibo.sdk.register.mobile.SelectCountryActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".fragment.home.imagedetaillist.ImageDetailsActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".fragment.home.weiboitemdetail.activity.OriginPicTextCommentActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".fragment.home.weiboitemdetail.activity.RetweetPicTextCommentActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".fragment.message.mention.MentionActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".fragment.message.comment.CommentActivity"
            android:theme="@style/ToolbarTheme" />
        <activity
            android:name=".fragment.profile.myweibo.MyWeiBoActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".fragment.discovery.popularweibo.PopularWeiBoActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".fragment.profile.followers.FollowerActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".fragment.profile.friends.FriendsActivity"
            android:theme="@style/ToolbarTheme" />

        <activity
            android:name=".fragment.home.userdetail.UserActivity"
            android:theme="@style/blackstatusbar" />

        <activity
            android:name=".fragment.post.PostActivity"
            android:theme="@style/blackstatusbar" />

        <activity
            android:name=".fragment.post.idea.IdeaActivity"
            android:theme="@style/blackstatusbar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".WelcomeActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".fragment.post.picselect.activity.AlbumActivity"
            android:theme="@style/blackstatusbar" />

        <service android:name=".fragment.post.PostService" />


    </application>

</manifest>